.studyContent {
  width: 80%;
  margin-left: auto;
  font-family: 'Nanum Square';
}

.study-main {
  margin: 2rem 4rem;
  padding: 0 0.5rem 0;
  background-color: #fff;
  border-radius: 8px;
}

.study-head {
  border-bottom: 1px solid #999999;
  padding: 1rem;
}

.study-body {
  padding-bottom: 1rem; 
}
